body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcf5df;
  color: #8b5816;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  padding: 20px;
}
